:root {
  --color1: #d9d9d9;
}

.title-login {
  text-align: center;
}
.home-login {
  background-color: var(--color1);
  color: black;
  height: 40px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 28px 8px 28px 8px;
}
.form {
  margin: 0 auto;
  width: 100%;
  display: grid;
  align-items: center;
  gap: 12px;
}
form {
  padding-top: 12px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.input-label-signin {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.label-signin {
  width: 100%;
  padding-right: 12px;
  text-align: end;
}
.input-signin {
  background-color: var(--color1);
  border: none;
  border-radius: 4px;
}
.button-enter-signin {
  margin: 0 auto;
  background-color: var(--color1);
  color: black;
  width: 140px;
  height: 32px;
  border-radius: 28px 8px 28px 8px;
  border: none;
}
.button-register {
  margin: 0 auto;
  background-color: var(--color1);
  border-radius: 8px 28px 8px 28px;
  color: black;
  width: 140px;
  height: 32px;
  border: none;
}
